:root {
  --person-1: mediumseagreen;
  --person-2: palevioletred;
}

body, html {
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 992px;
  height: 100%;
  margin: 0 auto;
}

svg {
  width: 100%;
  height: 100%;
}

.data {
  height: 100%;
}

.general {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.general-person {
  margin: 1rem;
}

.general-name {
  font-size: 2rem;
}
