:root {
  --person-1: mediumseagreen;
  --person-2: palevioletred;
}

body, html {
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 992px;
  height: 100%;
  margin: 0 auto;
}

svg {
  width: 100%;
  height: 100%;
}

.data {
  height: 100%;
}

.general {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.general-person {
  margin: 1rem;
}

.general-name {
  position: relative;
  font-size: 2rem;
}

.general-name::before {
  content: '\25C9';
  position: absolute;
  left: -3rem;
  top: 50%;
  transform: translateY(-50%);
}

.general-name.first::before {
  color: var(--person-1);
}

.general-name.second::before {
  color: var(--person-2);
}

.general-totals {
  font-size: 1.5rem;
  font-weight: lighter;
}

.general-totals > * {
  margin: 1rem 0;
}
